# Org横断でworkflowを必須にできるかを試すためのworkflowです
# 試し終わったら消します
name: Hello World

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Hello World
      run: echo "Hello World!"
